/* =========================
   PAGE SETUP
   ========================= */
@page {
    margin: 30mm 0 30mm 0; /* top right bottom left */
}

body {
    font-family: DejaVu Sans, sans-serif;
    font-size: 11px;
    color: #333;
    margin: 0 20mm; /* content links/rechts 20mm */
    line-height: 1.5;
}

/* =========================
   CONTENT
   ========================= */
.pdf-content {
    position: relative;
}

/* =========================
   HEADER (every page)
   ========================= */
.pdf-header {
    position: fixed;
    top: -30mm;        /* exact = @page margin-top */
    left: 0;
    right: 0;

    height: 30mm;      /* exact = @page margin-top */
    background: #fff;
}

/* Binnen-marge gelijk aan body margin */
.pdf-header-inner {
    padding: 8mm 20mm;
    margin-left:-8mm
}

.pdf-logo {
    max-height: 16mm;
    display: block;
}

/* =========================
   FOOTER (every page)
   ========================= */
.pdf-footer {
    position: fixed;
    bottom: -30mm;     /* exact = @page margin-bottom */
    left: 0;
    right: 0;

    height: 30mm;      /* exact = @page margin-bottom */
    background: #fff;
}

/* Binnen-marge gelijk aan body margin */
.pdf-footer-inner {
    padding: 6mm 20mm;
    font-size: 9px;
    color: #777;
}

/* =========================
   TABLES
   ========================= */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
}

tr {
    page-break-inside: avoid;
}

th,
td {
    text-align: left;
    vertical-align: top;
    padding: 5px;
}

td:last-child {
    text-align: right;
}

tbody tr td {
    border-bottom: 1px solid #ddd;
}

tbody tr:last-of-type td {
    border-bottom: none;
}
/* =========================
   HELPERS
   ========================= */
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-muted { color: #777; }
