# Laravel
/.phpunit.cache
/phpunit.xml
.phpunit.result.cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Environment
.env
.env.backup
.env.production
.env.local
.env.*.local

# Storage
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/pail

# Public
/public/build
/public/hot
/public/storage
!/public/storage/.gitignore

# Dependencies
/vendor
/node_modules
/auth.json

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# OS
.DS_Store
Thumbs.db
*.log

# Build & Cache
.tmp/
*.cache

# Homestead
Homestead.json
Homestead.yaml